
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
}

body {
  /* width: 1200px; */
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background-color: #FFFFFF;
  color: var(--black);
}

.container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1200px;
  width: 100%;
}

.container-2 {
  margin: 0 auto;
  padding: 0 120px;
  max-width: 1200px;
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.descr {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.btn {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title {
  margin: 0;
}

/* header */

.header {
  margin-bottom: 16px;
}

.notification {
  padding: 16px 0;
  text-align: center;
  color: rgb(28, 28, 32);
  font-size: 14px;
  line-height: 16px;
  background-color: rgb(224, 208, 255);
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  padding-right: 18px;
}

.header__logo {
  margin-right: auto;
}

.header__btn {
  line-height: 18.4px;
}

.header__btn--login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-right: 25px;
  padding-bottom: 5px;
  font-size: 15px;
}

.header__btn--talk {
  margin-right: 39px;
  padding: 10px 36px 12px 19px;
  font-size: 16px;
  color: var(--white);
  border-radius: 9999px;
  background-color: var(--black);
}

/* hero */

.hero {
  position: relative;
  padding-top: 111px;
  padding-bottom: 122px;
}

.hero__container {
  max-width: 726px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  margin-bottom: 51px;
  font-size: 63px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 1.8px;
  text-align: center;
}

.hero__descr {
  margin-bottom: 45px;
  color: rgb(97, 97, 97);
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.hero__btn {
  padding: 0 30px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  border-radius: 9999px;
  color: var(--white);
  background-color: var(--black);
}

.hero__span {
  position: absolute;
  padding: 1px 9px 4px 9px;
  color: rgb(27, 26, 26);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-radius: 9999px;
  -webkit-box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
          box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
}

.hero__span--yellow {
  right: 78px;
  top: 68px;
  background-color: rgb(255, 222, 106);
}

.hero__span--red {
  left: 103px;
  bottom: 35px;
  background-color: rgb(255, 140, 120);
}

.hero__span--green {
  bottom: 35px;
  right: 143px;
  background-color: rgb(134, 239, 172);
}

.hero__span--romb {
  left: -69px;
  bottom: -44px;
}

/* cookies */

.cookies {
  position: sticky;
  bottom: 0;
  font-weight: 400;
  line-height: 21px;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 33, 33);
}

.cookies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 16px 120px 18px;
}

.cookies__wrapper {
  margin-right: auto;
}

.cookies__title {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}

.cookies__descr {
  max-width: 391px;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: rgb(208, 208, 208);
}

.cookies__span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 24px;
  letter-spacing: 0.5px;
  font-size: 14px;
}

.cookies__btn--reject {
  margin-right: 7px;
  padding: 6px 13px 5px;
  font-size: 14px;
  color: var(--white);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color: transparent;
}

.cookies__btn--accept {
  padding: 9px 15px 5px;
  font-size: 13px;
  color: var(--black);
  border: 1px solid var(--white);
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.cookies__close {
  position: absolute;
  right: 121px;
  top: 0;
  font-size: 24px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 7px;
}

/* automation */

.automation {
  padding-top: 149px;
}

.automation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 47px;
  margin: 0 auto;
  max-width: 760px;
  padding-bottom: 54px;
}

.automation__title {
  color: rgb(27, 26, 26);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.9px;
  text-align: center;
  text-transform: uppercase;
}

.automation__descr {
  color: rgb(27, 26, 26);
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.2px;
  text-align: center;
}

.automation__text {
  margin-bottom: 16px;
  color: rgb(97, 97, 97);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.automation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 17px;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 9999px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.automation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* gap: 81px; */
  padding-top: 50px;
  padding-bottom: 70px;
}

.automation__item {
  color: rgb(149, 149, 149);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.automation__item--active {
  color: rgb(27, 26, 26);
}

.automation__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 84px;
  max-width: 960px;
  min-height: 544px;
  border-radius: 24px;
  background-color: rgb(238, 240, 255);
}

.automation__img {
  margin: 0 auto;
}

/* review */

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  margin: 0 auto;
  padding: 100px 0;
  max-width: 768px;
  width: 100%;
}

.review__block {
  padding: 33px 39px 32px 33px;
  max-width: 492px;
  width: 100%;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 12px;
}

.review::after {
  content: "";
  width: 248px;
  height: 258px;
  background-image: url('../img/review-bg-word.svg'), url('../img/review-after.png'), url('../img/review-bg.png');
  background-position: center;
  background-size: 103px 64px, contain, contain;
  background-repeat: no-repeat;
}

.payment-review::after {
  background-image: url('../img/payment-review-bg-word.svg'), url('../img/payment-review-after.png'), url('../img/payment-review-bg.png');
}

.review__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 17px;
}

.review__title {
  color: rgb(27, 26, 26);
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.review__descr {
  color: rgb(149, 149, 149);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.review__text {
  color: rgb(27, 26, 26);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

/* payments */

.payments {
  padding-top: 57px;
  padding-bottom: 59px;
}

.payments__svg {
  padding: 4px;
  width: 38px;
  height: 38px;
  background-size: 38px 38px;
  margin-right: 12px;
  border-radius: 9999px;
  background-color: rgb(255, 235, 164);
}

.payments__title {
  margin-bottom: 47px;
  color: rgb(27, 26, 26);
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.9px;
  text-align: center;
  text-transform: uppercase;
}

.payments__descr {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 458px;
  color: rgb(27, 26, 26);
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.2px;
  text-align: center;
}

.payments__text {
  margin: 0 auto;
  max-width: 742px;
  margin-bottom: 86px;
  color: rgb(97, 97, 97);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.payments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 39px;
  margin-bottom: 105px;
}

.payments__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payments__item:first-child {
  margin-right: 7px;
}

.payments__item:nth-child(3) {
  margin-right: 4px;
}

/* checkout */

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 43px;
}

.checkout__left {
  padding: 42px 2px 64px 40px;
  max-width: 320px;
  border-radius: 24px;
  background: rgb(255, 249, 227);
}

.checkout__right {
  padding: 154px 125px 115px 95px;
  border-radius: 24px;
  background-color: rgb(255, 235, 164);
}

.checkout__title {
  margin-bottom: 35px;
  color: rgb(27, 26, 26);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.checkout__descr {
  margin-bottom: 54px;
  color: rgb(97, 97, 97);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.checkout__link {
  display: block;
  margin-bottom: 76px;
  padding: 8px 20px 12px 17px;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 9999px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.checkout__slogan {
  display: block;
  margin-bottom: 12px;
  color: rgb(27, 26, 26);
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-align: left;
  text-transform: uppercase;
}

.checkout__square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.square {
  margin-left: -10px;
  width: 32px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgb(255, 249, 227);
  border-radius: 6px;
}

.square:first-child {
  margin-left: -2px;
}

.green {
  z-index: 10;
  background-color: rgb(53, 180, 84);
}

.blue-dark {
  z-index: 9;
  background-color: rgb(18, 112, 246);
}

.black {
  z-index: 8;
  background-color: rgb(32, 32, 32);
}

.gray {
  z-index: 7;
  background-color: rgb(87, 86, 100);
}

.blue-light {
  z-index: 6;
  background-color: rgb(190, 228, 254);
}

.white-dark {
  z-index: 5;
  background-color: rgb(242, 242, 242);
}

.pink {
  z-index: 4;
  background-color: rgb(255, 179, 199);
}

.white {
  z-index: 3;
  background-color: rgb(255, 255, 255);
}

.blue {
  z-index: 2;
  background-color: rgb(18, 112, 246);
}

/* advantages */

.advantages {
  padding-top: 100px;
}

.advantages__text {
  margin-bottom: 48px;
  max-width: 742px;
  color: rgb(27, 26, 26);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.advantages__list {
  margin-bottom: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 170px;
     -moz-column-gap: 170px;
          column-gap: 170px;
  row-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__item {
  border-radius: 24px;
}

.advantages__wrapper {
  padding: 29px 30px;
  border-radius: 24px;
}

.advantages__wrapper--first {
  background-image: url('../img/advantages-bg-1.jpeg');
}

.advantages__wrapper--second {
  background-image: url('../img/advantages-bg-2.jpeg');
}

.advantages__wrapper--third {
  background-image: url('../img/advantages-bg-3.jpeg');
}

.advantages__wrapper--fourth {
  background-image: url('../img/advantages-bg-4.jpeg');
}

.advantages__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-radius: 24px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  background-color: rgb(27, 26, 26);
}

/* apps */

.apps {
  margin-bottom: 127px;
  padding: 55px 58px 67px 56px;
  border-radius: 24px;
  background: rgb(250, 250, 250);
  background-image: url('../img/app-1.svg'), url('../img/app-2.svg'), url('../img/app-3.svg'), url('../img/app-4.svg'), url('../img/app-5.svg'), url('../img/app-6.svg'), url('../img/app-7.svg'), url('../img/app-8.svg'), url('../img/app-9.svg'), url('../img/app-10.svg'), url('../img/app-11.svg'), url('../img/app-12.svg');
  background-repeat: no-repeat;
  background-position: 6% 177px, 14% 177px, 22% 177px, 30% 177px, 38% 177px, 46% 177px, 54% 177px, 62% 177px, 70% 177px, 78% 177px, 86% 177px, 94% 177px;
}

.apps__descr {
  margin-bottom: 160px;
  color: rgb(27, 26, 26);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.app__link {
  padding: 2px 23px 5px 17px;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 9999px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

/* analytics */

.analytics {
  padding-top: 39px;
  padding-bottom: 45px;
}

.analytics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.analytics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  padding-top: 37px;
  border-radius: 24px;
}

.observability {
  background-color: rgb(243, 235, 255);
}

.reconciliation {
  background-color: rgb(220, 252, 231);
}

.observability__img {
  background-image: url('../img/observability-bg.png');
}

.reconciliation__img {
  background-image: url('../img/reconciliation-bg.png');
}

.analytics__title {
  margin-bottom: 21px;
  color: rgb(27, 26, 26);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.9px;
  text-align: center;
  text-transform: uppercase;
}

.analytics__descr {
  margin-bottom: 48px;
  max-width: 323px;
  color: rgb(27, 26, 26);
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

.analytics__text {
  margin-bottom: 54px;
  max-width: 377px;
  color: rgb(97, 97, 97);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.analytics__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 18px 12px 17px;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 9999px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

/* direct */

.direct {
  padding-top: 100px;
  padding-bottom: 118px;
}

.direct__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.direct__title {
  margin-bottom: 48px;
  max-width: 421px;
  color: rgb(27, 26, 26);
  font-size: 43px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.2px;
  text-align: center;
}

.direct__descr {
  margin-bottom: 63px;
  max-width: 757px;
  color: rgb(97, 97, 97);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.direct__link {
  margin-bottom: 45px;
  padding-right: 18px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.direct__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.codesdirect {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 55px 58px 66px 56px;
  border-radius: 24px;
  background: rgb(242, 242, 241);
}

.codesdirect__title {
  margin-bottom: 4px;
}

.codesdirect__descr {
  margin-bottom: 26px;
  max-width: 294px;
  color: rgb(27, 26, 26);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.codesdirect__text {
  margin-bottom: auto;
  max-width: 294px;
  color: rgb(97, 97, 97);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.codesdirect__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  color: rgb(27, 26, 26);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.ovals {
  position: absolute;
  bottom: 8px;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.oval-first rect {
  fill: rgb(255, 140, 120);
}

/* news */

.news__container {
  padding: 72px 64px 103px;
  max-width: 1024px;
  border-radius: 24px;
  background: rgb(27, 26, 26);
}

.news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.news__title {
  margin-bottom: 88px;
  color: rgb(255, 255, 255);
  font-size: 53px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 1.5px;
  text-align: center;
}

.news__img {
  margin-bottom: 34px;
}

.news__descr {
  margin-bottom: 8px;
  max-width: 377px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.news__span {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

/* footer */

.footer {
  padding-top: 79px;
  padding-bottom: 32px;
  padding-left: 8px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding-bottom: 32px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
  margin-right: 18px;
}

.footer__list .list {
  padding: 8px 0;
}

.footer__item {
  max-width: 127px;
}

.footer__subtitle {
  color: rgb(149, 149, 149);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.product__item,
.developers__item,
.company__item,
.resources__item {
  color: rgb(28, 28, 32);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.social__item {
  color: rgb(27, 26, 26);
  font-size: 23px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.product {
  margin-right: 32px;
}

.company {
  margin-right: 36px;
}

.social__item--discord {
  margin-bottom: 16px;
}

.copyright {
  padding-top: 32px;
  border-top: 1px solid rgb(238, 238, 238);
  color: rgb(149, 149, 149);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  letter-spacing: 0%;
  text-align: left;
}


